/* 
=====================================================
Project:	
Developer:		Michelle Graham akak @webDevShelly
=====================================================
*/

/* 0. Reset ========================================= */

@use "reset";
@use "variables";
@use "mixins";

/* 1. Main Layout =================================== */

* {
	box-sizing: border-box;
}

body {
	background: variables.$primary-color;
	color:rgb(58, 57, 57);
	font-family: 'Raleway', sans-serif;
}

/* 2. Content ====================================== */

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 200px;
	padding: 20px;
	background-image: url("/src/img/water-bungalow.jpg");
	background-position: center;
	background-size: cover;
	

	@include mixins.bp-small {
		height: 400px;
	}

	h2 {
		font-size: 2rem;
		color: rgb(91, 89, 187);
		background: rgb(246, 250, 250);
		padding: 1rem;
		border-radius: 20px;
		font-weight: 300;
		letter-spacing: 3px;


		@include mixins.bp-medium{
			margin: 0 auto;
			padding: 2rem;
			letter-spacing: 8px;
		}

		@include mixins.bp-large{
			margin: 0 auto;
			padding: 2rem;
			letter-spacing: 10px;
		}
	}


}

main {
	width: 100%;
	max-width: variables.$breakpoint-desktop;
	padding: 10px;
	margin: 0 auto;

	.gallery-title {
		margin: 3rem 0;

		@include mixins.bp-small {
		}

		h1 {
			font-size: 2.5rem;
			line-height: 3rem;
			font-weight: 600;
			color: variables.$text-color;

		}

		h3 {
			line-height: 1.5rem;
			color: variables.$accent-color;
		}
	}

	.gallery-description {
		display: flex;
		flex-wrap: wrap;

		> p {
			line-height: 1.5rem;
			flex-basis: 100%;
			margin: 1rem 0;
			padding: 0 1.5rem 0 0;

			@include mixins.bp-large {
				flex-basis: 50%;
			}

			a {
				&:hover{
					color: rgb(70, 130, 241);
				}
				color: variables.$accent-color;
				text-decoration: none;
			}
		}
	}

	.gallery-image-grid {
		display: flex;
		flex-wrap: wrap;

		figure {
			position: relative;
			flex-basis: 100%;
			margin-bottom: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;

			@include mixins.bp-small {
				flex-basis: 50%;

				&:nth-child(2n - 1) {
					flex-basis: calc(50% - 5px);
					margin-right: 5px;
				}
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 0.3s;
				border-radius: 10px;
			}

			figcaption {
				position: absolute;
				width: 100%;
				padding: 20px;
				bottom: 0;
				color: variables.$text-color;
				background: rgba(23, 76, 156, 0.6);

				transition: 0.3s;
				transform: translateY(100%);
			}

			&:hover {
				figcaption {
					transform: translateY(0);
					border-radius: 10px;
				}

				img {
					transform: scale(1.2);
					border-radius: 10px;
				}
			}
		}
	}

	.comments {
		margin: 3rem 0;

		h4 {
			padding: 5px 0px;
			color: variables.$text-color;
		}

		.comment {
			@extend .media;

			background: rgba(47, 102, 219, 0.1);
			padding: 5px;
			margin-bottom: 5px;
			border-radius: 10px;

			img {
				width: 60px;
				height: 60px;
				border-radius: 60px;
				-webkit-box-shadow: -2px 5px 19px 1px rgba(95,152,255,0.48); 
				box-shadow: -2px 5px 19px 1px rgba(95,152,255,0.48);
			}
			>p{
				color:white;
				line-height: 1.5;
			}
		}
	}
}

footer {
	display: flex;
	// justify-content: space-around;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;
	background: rgb(49, 146, 165);
	color: variables.$text-color;
	
	>p{
		font-weight: 300;
		margin-bottom: 1rem;

	}

	@include mixins.bp-large{
		flex-direction: row;
		justify-content: space-around;
	}


	nav {
		display: flex;
	
		

		.social {
			@extend .media;
			margin-right: 1rem;
		}

		a {
			text-decoration: none;
			color: variables.$text-color;
			font-weight: 100;
			&:hover{
				color: rgb(148, 70, 243);
			}

			img {
				width: 25px;
				height: auto;
				margin-right: 0.3rem;
			
			}
		}
	}
}

.media {
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	.media-figure {
		margin-right: 1em;
		margin-bottom: 10px;
	}

	.media-content {
		flex: 1;
	}
}
